@using RangeManagementSystem.Web.Models
@model ReservationViewModel
@{
    ViewBag.Title = "Добавяне на боеприпаси";
    var selectedProductsAndAmmoTypes = new Dictionary<int, string>();

}
<style>
    /* Style for selected rows */
    .selected {
        background-color: #cce5ff; /* Light blue background */
    }

    .disabled {
        opacity: 0.5; /* Reduce opacity to visually indicate disabled state */
        pointer-events: none; /* Disable pointer events to prevent interaction */
    }
</style>


<h3 style="text-align:center; margin-bottom: 30px;"> Добавяне на боеприпраси</h3>
@if (Model.Ammunitions.Any())
{
    @using (Html.BeginForm("Reserve", "Ammonution", FormMethod.Post, new { id = "selectedProductsForm" }))
    {
        <table class="table" id="weaponsTable">
            <thead>
                <tr>
                    <th>Калибър</th>
                    <th>Tип</th>
                    <th>Брой</th>
                    <th>Свободен</th>
                    <th></th> <!-- Add a new header for checkboxes -->
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Ammunitions)
                {
                    <tr>
                        <td>@item.Caliber</td>
                        <td>@item.Type</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Availability ? "Да" : "Не")</td>
                        <td>
                            <input type="checkbox" name="selectedProducts[@item.Id]" value="@item.WeaponId" data-id="@item.Id" class="product-checkbox" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*    <div style="display:flex;justify-content: center;">
            <button type="submit" id="submitBtn">Добави на боеприпаси</button>
        </div> *@
        <div style="display:flex;justify-content: space-between;">
            <div>
                <label>Начална дата:</label>
                <input type="date" name="startDate" />
            </div>
            <button type="submit" class="btn btn-success" id="submitBtn">Завърши резервацията</button>

            <div>
                <label>Kрайна дата:</label>
                <input type="date" name="endDate" />
            </div>
        </div>
    }
}
else
{
    <div style="display:flex; justify-content: center;margin-top:30px ">
        <h1 id="txtResult">Няма подходящи боеприпаси</h1>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var submitBtn = document.getElementById('submitBtn');

        // Event listener for form submission
        submitBtn.addEventListener('click', function (e) {
            var selectedWeapons = document.querySelectorAll('input[type="checkbox"]:checked')
            var startDateInput = document.querySelector('input[name="startDate"]')
            var endDateInput = document.querySelector('input[name="endDate"]')
            if (selectedWeapons.length === 0) {
                event.preventDefault(); // Prevent form submission
                alert('Моля, изберете поне едни боеприпаси.'); // Display alert
            }
            if (startDateInput.value === '') {
                event.preventDefault(); // Prevent form submission
                alert('Моля, въведете начална дата.'); // Display alert
            }
            if (endDateInput.value === '') {
                event.preventDefault(); // Prevent form submission
                alert('Моля, въведете крайна дата.'); // Display alert
            }
            else {
                e.preventDefault();
                sendSelectedProducts();
            }
        });

        // Function to gather selected product IDs and submit the form
        function sendSelectedProducts() {
            var form = document.getElementById('selectedProductsForm');
            form.submit();
        }
    });
</script>
