@using Microsoft.AspNetCore.Identity
@using RangeManagementSystem.Data.Models
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var userId = ViewData["UserId"] as string;
}
<style>
    .dropdown-toggle::after {
        display: none !important; /* Hide the arrow */
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RangeManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RangeManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (this.SignInManager.IsSignedIn(this.User))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Начало
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Index", "ShootingEvent")">Нова стрелба</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Weapon")">Запази оръжие</a>
                                    <a class="dropdown-item" href="@Url.Action("Events", "ShootingEvent")">Включи се в стрелба</a>
                                    <a class="dropdown-item" href="@Url.Action("Dashboard", @User.IsInRole("Admin") ? "Admin": "Client")">Табло</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Login" asp-route-userId="@userId" asp-action="SignOutUser">Изход</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Моят профил</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("MyReservation", "Reservation",new { id = (User.Identity as System.Security.Claims.ClaimsIdentity)?.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value })">Наети оръжия</a>
                                    <a class="dropdown-item" href="@Url.Action("FutureEvents", "ShootingEvent")">Предстоящи стрелби</a>
                                    <a class="dropdown-item" href="@Url.Action("PastEvents", "ShootingEvent")">Минали стрелби</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-route-userId="@userId" asp-action="Logout">Изход</a>
                            </li>
                        </ul>
                        <div class="ml-auto" style="display:contents">
                            <span>Добре дошъл:</span>
                            <span class="nav-link" style="color:blue">  @this.User.Identity.Name</span>
                        </div>

                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
