@using RangeManagementSystem.Web.Models
@model WeaponsViewModel

@{
    var selectedProductsAndGunTypes = new Dictionary<int, string>();
}

<style>
    /* Style for selected rows */
    .selected {
        background-color: #cce5ff; /* Light blue background */
    }

    .disabled {
        opacity: 0.5; /* Reduce opacity to visually indicate disabled state */
        pointer-events: none; /* Disable pointer events to prevent interaction */
    }
</style>
<div style="display:flex;justify-content: space-between; flex-wrap: nowrap">
    <h3 style="text-align:center; margin-bottom:20px">Oръжия</h3>
    <a href="@Url.Action("Create")">
        <button class="btn btn-success ">Добави ново оръжие</button>
    </a>
</div>
@using (Html.BeginForm("Edit", "Weapon", FormMethod.Post, new { id = "selectedProductsForm" }))
{
    @Html.AntiForgeryToken()
    <table class="table" id="weaponsTable">
        <thead>
            <tr>
                <th>Калибър</th>
                <th>Tип</th>
                <th>Брой</th>
                <th>Свободен</th>
                <th></th> <!-- Add a new header for checkboxes -->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Weapons)
            {
                <tr>
                    <td>@item.Caliber</td>
                    <td>@item.Type</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Availability ? "Да" : "Не")</td>
                    <td>
                        <input type="checkbox" name="selectedProducts[@item.Id]" value="@item.Type" data-id="@item.Id" class="product-checkbox" />
                    </td>
                    <td style="width: 70px">
                        <button type="button" class="delete-button btn btn-danger" data-id="@item.Id">Изтрий</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="display:flex;justify-content: space-around;">
        <button class="btn btn-primary" type="submit" id="editBtn">Промени избраното оръжие</button>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var editBtn = document.getElementById('editBtn');
        var deleteBtn = document.getElementById('deleteBtn');

        // Event listener for form submission
        editBtn.addEventListener('click', function (e) {
            var selectedWeapons = document.querySelectorAll('input[type="checkbox"]:checked');
            if (selectedWeapons.length !== 1) {
                e.preventDefault(); // Prevent form submission
                alert('Моля, изберете точно едно оръжие.'); // Display alert
            }
        });

    });


    // Function to gather selected product IDs and submit the form
    function sendSelectedProducts() {
        var form = document.getElementById('selectedProductsForm');
        form.submit();
    }

    $(document).ready(function () {
        $('.delete-button').on('click', function () {
            if (confirm("Сигурни ли сте че иcкате да изтриете това оръжие?")) {
                var itemId = $(this).data('id');
                $(this).closest('tr').remove();
                $.ajax({
                    url: '/Weapon/Delete', // Change the URL to match your controller action
                    method: 'POST',
                    data: { id: itemId },
                    success: function (response) {
                        // Handle success
                        console.log('Item deleted successfully');
                        // Optionally, you can remove the row from the table
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error('Error deleting item:', error);
                    }
                });
            }
        });
    });
</script>