@using RangeManagementSystem.Web.Models
@model RegisterInputViewModel
@{
    Layout = null;
}

<div style="display:flex; justify-content: center">
    @using (Html.BeginForm("Register", "Register", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
        <br />
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
        <br />
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        <br / >
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        <br />
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; text-align: center;">Регистрирай ме</button>
    }
</div>