@using RangeManagementSystem.Web.Models
@model RegisterInputViewModel


<style>
    .half-width {
        width: 50%;
    }
</style>

<h2 style="text-align:center">Регистрация</h2>
<div style="display:flex; justify-content: center;margin-top:50px">
    <div style="min-width: 400px">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <div style="margin-bottom: 10px; display:flex">
                @Html.LabelFor(m => m.Username, new { @class = "half-width" })
                @Html.TextBoxFor(m => m.Username, new { @class = "half-width" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <div style="display:flex;margin-bottom: 10px;">
                @Html.LabelFor(m => m.Password, new { @class = "half-width" })
                @Html.PasswordFor(m => m.Password, new { @class = "half-width" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div style="display:flex;margin-bottom: 10px;">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "half-width" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "half-width" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div style="display:flex">
                @Html.LabelFor(m => m.Email, new { @class = "half-width" })
                @Html.PasswordFor(m => m.Email, new { @class = "half-width" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div style="display:flex; justify-content: center">
                <button type="submit" class="btn btn-primary" style="margin-top: 20px; text-align: center;">Регистрирай ме</button>
            </div>
        }
    </div>
</div>