@using RangeManagementSystem.Web.Models
@model LoginViewModel
@{
    Layout = null;
}

<div style="display:flex; justify-content: center">
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
        <br />
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        <br />
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; text-align: center;">Вход</button>
    }
</div>